USE [ducdeptrai]
GO
/****** Object:  Table [dbo].[course_registrations]    Script Date: 05/03/2026 6:04:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[course_registrations](
	[id] [uniqueidentifier] NOT NULL,
	[student_id] [uniqueidentifier] NOT NULL,
	[course_id] [uniqueidentifier] NOT NULL,
	[class_id] [uniqueidentifier] NOT NULL,
	[semester_id] [uniqueidentifier] NOT NULL,
	[registration_code] [varchar](30) NOT NULL,
	[registration_date] [datetime2](7) NOT NULL,
	[status] [tinyint] NOT NULL,
	[is_first_time] [bit] NOT NULL,
	[attempt] [int] NOT NULL,
	[score_midterm] [float] NULL,
	[score_final] [float] NULL,
	[score_total] [float] NULL,
	[result] [tinyint] NOT NULL,
	[note] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[deleted_at] [datetime2](7) NULL,
	[created_by] [bigint] NULL,
	[updated_by] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[course_registrations] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[course_registrations] ADD  DEFAULT (sysdatetime()) FOR [registration_date]
GO
ALTER TABLE [dbo].[course_registrations] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[course_registrations] ADD  DEFAULT ((1)) FOR [is_first_time]
GO
ALTER TABLE [dbo].[course_registrations] ADD  DEFAULT ((1)) FOR [attempt]
GO
ALTER TABLE [dbo].[course_registrations] ADD  DEFAULT ((2)) FOR [result]
GO
ALTER TABLE [dbo].[course_registrations] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[course_registrations] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
